include *.txt
include LICENSE
recursive-include stanford_theme *.conf
recursive-include stanford_theme *.css
recursive-include stanford_theme *.eot
recursive-include stanford_theme *.html
recursive-include stanford_theme *.js
recursive-include stanford_theme *.svg
recursive-include stanford_theme *.ttf
recursive-include stanford_theme *.woff
